  <div class="shortened-link">
            <div class="shortened-links">
              <a class="old-link" target="_blank" href="<%= link %>"
                ><%= resumedArrayLink %>...
              </a>

              <a
                class="new-link"
                target="_blank"
                href="<%= data.result.full_short_link %>"
                ><%= data.result.full_short_link %>
              </a>
            </div>

            <button class="button button-copy">Copiar</button>
          </div>
        </div>