* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
}

html {
  --cyan: hsl(180, 66%, 49%);
  --cyan-hover: hsl(180, 60%, 65%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);

  --background: #f0f1f5;

  --height-header: 4.5rem;

  --container-side: 1.5rem;
}

.sr-only {
  display: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  margin-left: var(--container-side);
  margin-right: var(--container-side);
}

/* Button */

.button {
  background-color: var(--cyan);
  border-radius: 50px;
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: var(--cyan-hover);
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: var(--height-header);
  background-color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

nav a img {
  width: 120%;
}

nav ul li a {
  color: white;
  font-weight: 700;
}

nav ul li a:hover {
  color: var(--dark-blue);
}

nav .logo,
nav .toggle {
  display: flex;
  align-items: center;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  display: none;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

nav .menu.show {
  opacity: 1;
  visibility: visible;
  background: var(--dark-violet);
  display: block;
  position: absolute;
  top: var(--height-header);
  left: var(--container-side);
  right: var(--container-side);
  border-radius: 10px;
  text-align: center;
}

nav .menu.show ul {
  display: grid;
  width: 100%;
  margin: 2rem 0 2rem 0;
  gap: 1.5rem;
}

nav .menu.show ul > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.menu.show ul .divider {
  height: 1px;
  background-color: var(--gray);
  opacity: 0.5;
  width: 90%;

  margin: 0.5rem auto 0.5rem auto;
}

/* Sections */

.section {
  padding: var(--height-header) 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  color: var(--dark-blue);
}

/* Home */

#home {
  overflow: hidden;
  padding-bottom: 10rem;
}

#home .image {
  position: relative;
}

#home .image img {
  position: relative;
  left: var(--container-side);
  height: auto;
  width: 135vw;
}

#home .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#home .text h1 {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: -0.8px;
  line-height: 120%;
}

#home .text p {
  color: var(--grayish-violet);
  letter-spacing: -0.8px;
}

#home .text .button {
  margin-top: 1rem;
  width: 50%;
  border-radius: 50px;
}

/* Shortener */

#shortener {
  background-color: var(--background);
}

#shortener .container {
  margin-top: -9.5rem;
}

#shortener .container form {
  background-image: url('../images/bg-shorten-mobile.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right top;
  background-color: var(--dark-violet);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

#shortener .container form input {
  width: 100%;
  resize: none;
  outline: none;
  padding: 0.7rem;
  border-radius: 5px;
  border: 3px solid white;
}

#shortener .container form input.error {
  border: 3px solid var(--red);
}

#shortener .container form input small {
  color: var(--red);
}

#shortener .container form button,
#shortener .container .shortened-link button {
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
}

#shortener .container form button,
#shortener .container .shortened-link button {
  width: 100%;
}

#shortener .container .shortened-link {
  padding: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.8rem;
  background-color: white;
  border-radius: 5px;
}

#shortener .container .shortened-link .shortened-links {
  display: flex;
  flex-direction: column;
}

#shortener .container .shortened-link .shortened-links .old-link {
  border-bottom: 1px solid var(--gray);
  padding-bottom: 0.4rem;
  text-decoration: none;
}

#shortener .container .shortened-link .shortened-links .old-link:visited {
  color: var(--dark-blue);
}

#shortener .container .shortened-link .shortened-links .new-link {
  color: var(--cyan);
  padding-top: 0.4rem;
}

/* Statistics */

#statistics {
  background-color: var(--background);
  padding-top: 0;
}

#statistics .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.5rem;
}

#statistics .container .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#statistics .container .text h1 {
  font-weight: 700;
}

#statistics .container p {
  color: var(--grayish-violet);
}

#statistics .container .cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4.5rem;
  position: relative;
}

#statistics .container .cards .card {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 4rem 2rem 2rem 2rem;
  position: relative;
  z-index: 2;
  max-width: 18rem;
  width: 100%;
  height: 100%;
  max-width: 18rem;
  border-radius: 5px;
}

#statistics .container .cards .card img {
  width: 80px;
  background-color: var(--dark-violet);
  clip-path: circle(48% at 50% 50%);
  -webkit-clip-path: circle(48% at 50% 50%);
  padding: 20px;
  position: absolute;
  top: -40px;
}

#statistics .container .cards .card h1 {
  font-weight: 700;
  font-size: 1rem;
}

#statistics .container .cards .card p {
  font-size: 0.8rem;
}

#statistics .container .cards .line {
  background-color: var(--cyan);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
}

/* call-to-action */

#call-to-action {
  background-color: var(--dark-violet);
  background-image: url('../images/bg-boost-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  color: white;
}

#call-to-action .container h1 {
  font-weight: 700;
  margin-bottom: 1rem;
}

#call-to-action .container .button {
  width: 50%;
}

/* footer */

footer {
  background-color: var(--very-dark-violet);
  color: white;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

footer .container a h1 {
  font-weight: 700;
  color: white;
}

footer .container .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

footer .container .links > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

footer .container .links > div h3 {
  margin-bottom: 0.8rem;
  font-weight: 700;
}

footer .container .links a {
  text-decoration: none;
  color: var(--grayish-violet);
  font-size: 0.8rem;
}

footer .container .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .container .links a:hover,
footer .container .socials a:hover {
  color: var(--cyan);
}

/* Responsive */

@media (min-width: 820px) {
  html {
    --container-side: 5rem;

    font-size: 18px;
  }

  /* nav */

  nav.container {
    gap: 2rem;
  }

  nav .toggle {
    display: none;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  nav .menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    gap: 2rem;
  }

  nav ul li a {
    color: var(--grayish-violet);
  }

  nav ul li.button a {
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  nav ul > div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  nav ul .div-divider {
    display: none;
  }

  /* sections */

  .section {
    flex-direction: row;
  }

  /* home */

  #home {
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }

  #home .image {
    order: 2;
  }

  #home .image img {
    width: auto;
  }

  #home .text {
    align-items: flex-start;
    margin-right: 0;
    text-align: left;
  }

  #home .text h1 {
    font-size: 2.5rem;
  }

  #home .text p {
    margin-top: -1rem;
  }

  #home .text .button {
    width: 40%;
    text-align: center;
    margin: 0;
  }

  /* Shortener */

  #shortener .container {
    margin-top: -7.3rem;
    width: 100%;
  }

  #shortener .container form {
    background-image: url('../images/bg-shorten-desktop.svg');
    background-size: cover;
    flex-direction: row;
    padding: 2rem 4rem;
    border-radius: 5px;
  }

  #shortener .container form button,
  #shortener .container .shortened-link button {
    width: 25%;
  }

  #shortener .container .shortened-link {
    padding: 0.8rem 1.2rem;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }

  #shortener .container .shortened-link .shortened-links {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  #shortener .container .shortened-link .shortened-links .old-link {
    border-bottom: 0;
    padding-bottom: 0;
  }

  #shortener .container .shortened-link .shortened-links .new-link {
    padding-top: 0;
  }

  #shortener .container .shortened-link button {
    width: 15%;
  }

  /* Statistics */

  #statistics {
    padding-bottom: 10rem;
  }

  #statistics .container {
    width: 100%;
  }

  #statistics .container .text {
    max-width: 500px;
  }

  #statistics .container .cards {
    justify-content: space-around;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    font-size: 14px;
  }

  #statistics .container .cards .card {
    align-items: flex-start;
    padding: 3rem 2rem 2rem 2rem;
    text-align: left;
  }

  #statistics .container .cards .second-card {
    transform: translateY(15%);
  }

  #statistics .container .cards .third-card {
    transform: translateY(30%);
  }

  #statistics .container .cards .line {
    top: 50%;
    bottom: 50%;
    height: 5px;
    width: 80%;
  }

  /* call-to-action */

  #call-to-action {
    background-image: url('../images/bg-boost-desktop.svg');
  }

  #call-to-action .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #call-to-action .container a {
    width: 30%;
  }

  #call-to-action .container a .button {
    font-weight: 700;
    font-size: 1rem;
  }

  /* footer */

  footer .container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  footer .container .links {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }

  footer .container .links > div {
    align-items: flex-start;
  }

  footer .container .links > div h3 {
    font-size: 1rem;
  }
}
