* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
}

html {
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);

  --background: #f0f1f5;

  --height-header: 4.5rem;

  --container-side: 1.5rem;
}

img {
  width: 100%;
  height: auto;
}

.container {
  margin-left: var(--container-side);
  margin-right: var(--container-side);
}

/* Button */

.button {
  background-color: var(--cyan);
  border-radius: 20px;
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 10px;
  color: white;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: var(--height-header);
  background-color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

nav ul li a {
  color: white;
}

nav .logo,
nav .toggle {
  display: flex;
  align-items: center;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  display: none;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

nav .menu.show {
  opacity: 1;
  visibility: visible;
  background: var(--dark-violet);
  display: block;
  position: absolute;
  top: var(--height-header);
  left: var(--container-side);
  right: var(--container-side);
  border-radius: 10px;
  text-align: center;
}

nav .menu.show ul {
  display: grid;
  width: 100%;
  margin: 2rem 0 2rem 0;
  gap: 1.5rem;
}

.menu.show ul .divider {
  height: 1px;
  background-color: var(--gray);
  opacity: 0.5;
  width: 90%;

  margin: 0.5rem auto 0.5rem auto;
}

/* Sections */

.section {
  padding: var(--height-header) 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  color: var(--dark-blue);
}

/* Home */

#home {
  overflow: hidden;
  padding-bottom: 10rem;
}

#home .image {
  position: relative;
}

#home .image img {
  position: relative;
  left: var(--container-side);
  height: auto;
  width: 135vw;
}

#home .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#home .text h1 {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: -0.8px;
  line-height: 120%;
}

#home .text p {
  color: var(--grayish-violet);
  letter-spacing: -0.8px;
}

#home .text .button {
  margin-top: 1rem;
  width: 50%;
  border-radius: 50px;
}

/* Shortener */

#shortener {
  background-color: var(--background);
}

#shortener .container {
  margin-top: -9.5rem;
}

#shortener .container form {
  background-image: url('../assets/bg-shorten-mobile.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right top;
  background-color: var(--dark-violet);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

#shortener .container form input {
  width: 100%;
  resize: none;
  outline: none;
  padding: 0.7rem;
  border-radius: 5px;
}

#shortener .container form button,
#shortener .container .shortened-link button {
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
}

#shortener .container form button,
#shortener .container .shortened-link button {
  width: 100%;
}

#shortener .container .shortened-link {
  padding: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
  background-color: white;
  border-radius: 5px;
}

#shortener .container .shortened-link p {
  border-bottom: 1px solid var(--gray);
  padding-bottom: 0.4rem;
}

/* Statistics */

#statistics {
  background-color: var(--background);
  padding-top: 0;
}

#statistics .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.5rem;
}

#statistics .container .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#statistics .container .text h1 {
  font-weight: 700;
}

#statistics .container p {
  color: var(--grayish-violet);
}

#statistics .container .cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4.5rem;
  position: relative;
}

#statistics .container .cards .card {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 4rem 2rem 2rem 2rem;
  position: relative;
  z-index: 2;
}

#statistics .container .cards .card img {
  width: 80px;
  background-color: var(--dark-violet);
  clip-path: circle(48% at 50% 50%);
  padding: 20px;
  position: absolute;
  top: -40px;
}

#statistics .container .cards .card h1 {
  font-weight: 700;
}

#statistics .container .cards .card p {
  font-size: 0.9rem;
}

#statistics .container .cards .line {
  background-color: var(--cyan);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  z-index: 1;
}

/* call-to-action */

#call-to-action {
  background-color: var(--dark-violet);
  background-image: url('../assets/bg-boost-mobile.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  color: white;
}

#call-to-action .container h1 {
  font-weight: 700;
  margin-bottom: 1rem;
}

#call-to-action .container .button {
  width: 50%;
}

/* footer */

footer {
  background-color: var(--very-dark-violet);
  color: white;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

footer .container h1 {
  font-weight: 700;
}

footer .container .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

footer .container .links > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

footer .container .links > div h3 {
  margin-bottom: 0.8rem;
  font-weight: 700;
}

footer .container .links a {
  text-decoration: none;
  color: var(--grayish-violet);
  font-size: 0.8rem;
}

footer .container .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}
